/* Fuente personalizada */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-image: url('img/imagen1.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el header */
    background-position: center; /* Centra la imagen en el header */
    color: #fff;
    text-align: center;
    padding: 2em 1em;
    border-bottom: 5px solid #e2e2e2;
}

.texto-destacado {
    color: #5c5b5b; /* Puedes ajustar el color del texto */
    font-weight: bold; /* Hace el texto más grueso */
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco con 60% de opacidad */
    display: inline-block; /* Para que el fondo se ajuste al texto */
    padding: 0.2em 0.5em; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados opcional */
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
    margin: 0.5em 0 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}

.details, .gallery, .map {
    margin-bottom: 2em;
    background: #ffffff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.details h2, .gallery h2, .map h2 {
    color: #3d3d3d;
    border-bottom: 2px solid #5c5b5b;
    text-align: center;
    padding-bottom: .5em;
    margin-bottom: 1em;
}

.carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2em;
    transform: translateY(-50%);
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.map {
    height: 400px; /* Establece la altura del contenedor del mapa */
    border-radius: 10px; /* Bordes redondeados para el mapa */
    overflow: hidden; /* Evita que elementos del mapa se desborden */
    box-shadow: 0 0 15px rgba(0,0,0,0.1); /* Añade sombra al contenedor del mapa */
}

#map {
    width: 100%; /* Asegura que el mapa ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que el mapa ocupe toda la altura del contenedor */
}

footer {
    background: #b7cbff;
    color: #fff;
    text-align: center;
    padding: 1em;
    border-top: 5px solid #e2e2e2;
}
